<!-- begin template article -->
<article class="content">

	<div class="short">
		<p>{{short}}</p>
	</div>

	<div class="moztags clearfix">
		<ul>
		{{#tags}}
			<li><a class="tag" href="{{{link}}}">{{name}}</a></li>
		{{/tags}}
		</ul>
	</div>

	{{{body}}}

	<div class="referenceAccessDate">
		<p>{{references_accessed_on}} {{referenceAccessDate}}.</p>
	</div>

	<!-- begin history -->
	<a name="history"></a>

	{{#auditTrail}}
	  <div id="history">
	    {{{auditTrail}}}
	  </div>
	{{/auditTrail}}
	<!-- End history -->

</div>
<!-- end content div -->  
<!-- end template article --> 
