
<!-- footer -->
<footer>

    <div class="content">

    <div class="col1">
      <p>
        {{#aux}}
          <a class="tag" href="{{{url}}}">{{title}}</a><br />
        {{/aux}}
        <!--
        <a href="#">Authorship</a><br />
        <a href="#">Funding of the site</a><br />
        <a href="#">Review process</a><br />
        <a href="#">Philosophy: why and what?</a><br />
        <a href="#">Advocacy</a><br />
        <a href="#">Reference material</a><br />
        -->
        <a href="#"></a><br />
      </p>
    </div>

    <div class="col2">
      <p>
        <a href="https://github.com/tobaccoplaybook/book/issues">Report an Issue</a><br />
        <a href="javascript:subscribe()">Subscribe</a><br />
      </p>
    </div>

    </div>

</footer>

<script type="text/javascript" src="../lib/main.js"></script>

</body>
</html>
