
<!-- footer -->

<footer class="no-print">
  <div class="page">
    
    <div id="footertopics" class="col2">
      <h3>{{topics}}</h3>

      <ul class="tags" style="text-align: left;">
        {{#tags_shorlist}}
          <li><a class="tag" data-tagname="{{tag}}" href="{{{link}}}">{{raw}}</a></li>
        {{/tags_shorlist}}
      </ul>
    </div>

    <div class="col1">
      <h3>{{share}}</h3>

      <div class="menu-sharewrap">
        <span onClick="share('tw');" class="panel" style="background-color:#3AC1F5;">
          <span class="icon-twitter"></span>
        </span>

        <span onClick="share('fb');" class="panel" style="background-color:#2E4586;">
          <span class="icon-facebook"></span>
        </span>

        <span onClick="share('gp'); "class="panel" style="background-color:#D92E20;">
          <span class="icon-google-plus"></span>
        </span>

        <span onClick="share('li');" class="panel" style="background-color:#0064A7;">
          <span class="icon-linkedin2"></span>
        </span>
      </div>

    </div>

    <div class="col1">
      <h3>{{contact}}</h3>

      <a href="https://github.com/tobaccoplaybook/site/issues">
        <div class="btn" style="border: 1px solid #979797;">{{report_an_issue}}</div>
      </a>

      <!--
      <p>
        {{#pages}}
          <a class="tag" href="{{{url}}}">{{title}}</a><br />
        {{/pages}}
        <a href="#"></a><br />
      </p>
      -->

    </div>
  </div>
</footer>

<script type="text/javascript" src="../lib/main.js" charset="utf-8"></script>


</body>
</html>
