
<!-- footer -->
<footer>

    <div class="content">

    <div class="col1">
      <p>
        {{#aux}}
          <a class="tag" href="{{{url}}}">{{title}}</a><br />
        {{/aux}}
        <!--
        <a href="#">Authorship</a><br />
        <a href="#">Funding of the site</a><br />
        <a href="#">Review process</a><br />
        <a href="#">Philosophy: why and what?</a><br />
        <a href="#">Advocacy</a><br />
        <a href="#">Reference material</a><br />
        -->
        <a href="#"></a><br />
      </p>
    </div>

    <div class="col2">
      <p>
        <a href="https://github.com/tobaccoplaybook/book/issues">
        {{report_an_issue}}</a><br />
        <a href="javascript:subscribe()">{{subscribe}}</a><br />
      </p>
    </div>

    </div>

</footer>

<script type="text/javascript" src="../lib/main.js"></script>

<script>
  /*
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83761303-1', 'auto'); // kanti
  ga('send', 'pageview');

  ga('create', 'UA-84155730-1', 'auto'); // baseio
  ga('send', 'pageview');
  */
</script>

</body>
</html>
