

<div class="front content">

<div class="teaser">
	{{{teaser}}}
</div>

<style type="text/css">
	
	#cover h1 {
		color: #fff;
	    text-shadow: none;
	    text-align: center;
	    padding-bottom: 3.5rem;
	    padding-top: 2rem;
	    letter-spacing: normal;
	    line-height: 3rem;
	    font-size: 3rem;
	}
	
	#cover.coverimage {
		/* height: 40rem; */
		/* background-image: url(/lib/front-002.jpg); */
	}
	time.datetime {
		display: none;
	}
	
	table.toc h3 a {
		color: #000;
	}
	table.toc td {
		vertical-align: top;
	}
	table.toc td.idcell {
		border-right: 1px solid #ddd;
	}
	table {
		border: none;
	}

	#cover-share {
	    /* background-color: #09f; */
		position: relative;
    	top: 7rem;
	}

	.menutitle {
		display: none;
	}
	
	.covercontent {
		padding-top: 18rem;
	}
	@media only screen and (max-width: 414px){
		.covercontent {
			padding-top: 1rem;
		}
		#cover h1 {
			color: #000;
		}
		#cover-share {
		    /* background-color: #09f; */
			position: inherit;
		}
		.menutitle {
			display: inline-block;
		}
	}
	
	
</style>



{{#docs}}
<div class="{{#tags}}tag-{{lcname}} {{/tags}}argument">

<!-- fragment anchors -->
{{#tags}}
<a name="{{lcname}}" /></a>
{{/tags}}

	<table class="toc">
		<tr>
			<td class="idcell">
				<span class="pubdate">&nbsp;</span>
				<h3>{{argumentId}}</h3>
			</td>
			<td>
				<span class="pubdate">{{documentDateDisplay}}</span>
				<h3><a class="title" href="{{{url}}}">{{title}}</a></h3>
				
				<!--<p><span class="author">By: {{author}}</span></p>-->
				
				<div class="moztags">
					<ul>
					{{#tags}}
						<li><a class="tag" data-tagname="{{lcname}}" href="{{{link}}}">{{name}}</a></li>
					{{/tags}}
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>
{{/docs}}


</div>
<!-- end content --> 
<!-- end template front -->
