<!DOCTYPE html>
<html lang="{{language}}">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="system-version" content="{{package_version}}"/>

	<title>{{sitename}}: {{title}}</title>
	<meta property="og:title" content="{{sitename}}: {{title}}" />
	<meta property="og:description" content="{{localizedDesc}}" name="description" />

	<meta name="approved_date" content="{{approvedDate}}"/>
	<meta name="approved_by" content="{{approvedBy}}"/>
	<meta name="public_date" content="{{publicDate}}"/>
	<meta name="revision" content="{{revision}}"/>
	<meta name="author" content="{{author}}"/>
	<meta name="keywords" content="{{localizedKeywords}}" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../lib/main.css">
	
    <link href="feed.xml" rel="alternate" type="application/rss+xml" title="Updates" />

    <link rel="stylesheet" href="../lib/gutenberg.min.css" media="print">
	<!-- <link rel="stylesheet" href="../lib/themes/oldstyle.css" media="print"> -->

	<link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
</head>
<body>
<!-- end header -->
