
<!-- begin template list -->


<article class="content">

{{#items}}
  <b>{{name}}</b>
{{/items}}

	<div class="moztags">
		<ul>
			<li><a class="tag" href="#">tag</a></li>
			<li><a class="tag orange" href="#">tag name</a></li>
			<li><a class="tag darkblue" href="#">Tag1</a></li>
			<li><a class="tag green" href="#">Tag2</a></li>
			<li><a class="tag" href="#">Tag3</a></li>
			<li><a class="tag" href="#">Tag4</a></li>
			<li><a class="tag" href="#">Tag5</a></li>
			<li><a class="tag" href="#">Tag6</a></li>
			<li><a class="tag" href="#">Tag7</a></li>
		</ul>
	</div>
	<!-- end template article -->

