<!-- start pagetop -->
<div class="content">

	<div class="top">
		<header class="page">
			
				<a href="index.html"><h1>{{tobaccoControlPlaybook}}</h1></a>

				<div class="controls">
					<span onclick="toggleMenu()">{{share}}</span>
						<div id="sharingMenu" class="hidden">
							<div class="menu-sharewrap">
								<span onClick="share('tw');" class="panel" style="background-color:#3AC1F5;">
								<span class="icon-twitter"></span>
								</span>

								<span onClick="share('fb');" class="panel" style="background-color:#2E4586;">
								<span class="icon-facebook"></span>
								</span>

								<span onClick="share('gp'); "class="panel" style="background-color:#D92E20;">
								<span class="icon-google-plus"></span>
								</span>

								<span onClick="share('li');" class="panel" style="background-color:#0064A7;">
								<span class="icon-linkedin2"></span>
								</span>
							</div>
						</div>

					<span class="pipe">|</span>
					<span><a class="normal" href="{{t_url}}">{{t_lang}}</a></span>
				</div>

		</header>
	</div>

<!-- end pagetop -->
